.app-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.browser-history-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.header-container {
  display: flex;
  flex-direction: row;
  background-color: #3367d6;
  justify-content: space-between;
  height: 50px;
  width: 100vw;
}

.app-logo {
  width: 60px;
  height: 20px;
}

.search-container {
  display: flex;
  flex-direction: row;
  /* background-color: #2850a7; */
  /* justify-content: space-between; */
  width: 500px;
  margin-left: 100px;
  margin-right: 100px;
  align-items: center;
}

.search-icon-container {
  width: 50px;
  height: 30px;
  display: flex;
  justify-content: center;
  background-color: #2850a7;
  border: 1px solid #ececec;
  margin-right: 5px;
}

.search {
  width: 20px;
  height: 20px;
  color: #64748b;
  align-self: center;
}

.search-input {
  width: 50%;
  height: 30px;
  background-color: #2850a7;
  color: #64748b;
}

.history-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
